.sectionone {
    height: 430px;
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    color: #F9FAF8;
}

.left h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
    padding: 0;
}

.left p {
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.left button {
    margin-top: 16px;
    padding: 9px 16px 9px 16px;
    color: #F9FAF8;
    width: 128px;
    background-color: #3882F6;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 550;
}

.left, .right {
    width: 470px;
    margin: 86px;
}

.right {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    display: flex;
    justify-content: center;
    flex-direction: column;
}